body{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Poppins', Times, serif;
    padding: 0%;
    display: grid;
    animation: 5s ease-in; 
}
a{
  color: white;
  text-decoration: none;
}
.navbar{
    text-decoration: none;
    background: rgb(0, 0, 0); 
    padding-right: 15px; padding-left: 15px;
  }
  .navdiv{
    text-decoration: none;
     display: flex; align-items: center; justify-content: space-between;
  }
  .logo{
    padding-left: 20px;
    font-family: sentient;
    font-size: 35px; font-weight: 600; color:white; 
    text-decoration: none;
    font-size: 35px;
    font-weight: 455;
    color: white;
    text-decoration: none;
  }
  li{
    text-decoration: none;
    list-style: none; display: inline-block
  }
  li a{
    text-decoration: none;
     color: white; font-size: 22px; font-weight:600; margin-right: 25px;
  }
  #headingV{
    text-transform: uppercase;
      color: #ffb800;
      text-align: center;
      font-family: sentient;
      font-style: normal;
      font-size: 4vw;
    }
.izithakazelo{
  padding-left: 10px;
    color: white;
}
.preOut{ 
  display: flex;
  font-size: x-large;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff; 
     margin: 0 auto; /*Centers the paragraph container */
     word-spacing:100vw; 
}
/*courier font looks cool, i want to use it. the pre thing gave me an idea */ 

#kotaTax{
   color:#F8B700;
    text-align: center;
    text-transform: lowercase;
    cursor: pointer;

}
.additional{
    color: aliceblue;
    text-decoration: none;
}
.celebrities{
    font-size: medium;
    font-family: inherit;
}
.umlando{
  font-weight: 400;
  text-transform: capitalize;
  color:#ffb800;
}

.Baby{
  max-width: 33%;
}
.henry{
  max-height:40%;
padding-bottom: 1%;
}