body{
    margin: 40px;
  font-family: poppins;
  background-image: url("/images/HenryCeleEdit.png");
  background-image: no-repeat;
  
  background-position: center;
  background-attachment:fixed; /**This was what I was looking for!*/
  background-size: cover; 
 
}
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    a:hover{
      color: #ffb800;
    }


.mainHeading{
  font-weight: 500;
    padding-top: 45px;
    font-family: sentient;
    font-style: normal;
    text-align:center ;
    color: #ffb800;
    font-size: 4vw;
}


  .navdiv {
    margin:1px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(1rem, 2.5vw, 2rem); /* This keeps the font size between 1rem (the smallest it can ever be) and 2rem the largest*/
  }

  li{
    text-decoration: none;
    list-style: none; display: inline-block;
  }

  .search{
    text-align: center;
    border-radius: 3px;
    flex-grow: 1;
  }
#styleOut{
    text-align: center;
}

.firstBar, .secondBar, .thirdBar{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;

}

.containerHam{
  display: inline-block; 
  cursor: pointer;
  
}

.change .firstBar {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .secondBar {opacity: 0;
}

.change .thirdBar {
  transform: translate(0, -11px) rotate(45deg);
}

#inputSurname{
text-align: center;
outline: none;
border: none;
width: 500px;
height: 40px;
border-radius: 19px;
}

.pText{
  text-align: center;
  text-align: center;
  color: white;
  font-family: poppins;
  font-weight: 400;
}

#kota{
  color:#F8B700;
  text-align: center;
  text-transform: lowercase;
  
  cursor: pointer;
}

